@import './fonts.css';

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'NexonLv2Gothic';
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
input:focus {
  outline: none;
}

.content h1 {
  font-size: 2em;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
  --tw-text-opacity: 1;
  color: rgba(74, 85, 104, var(--tw-text-opacity));
}
.content h2 {
  font-size: 1.5em;
}
.content p {
  line-height: 30px;
}
.content code {
  border-radius: 7px;
  padding: 6px 10px;
  background-color: #dbdbdb;
}
.content td {
  padding: 3px;
  line-height: 30px;
}
