@font-face {
  font-family: 'NexonLv2Gothic';
  font-weight: 800;
  src: url('../fonts/NEXON_Lv2_Gothic_Bold.ttf');
}

@font-face {
  font-family: 'NexonLv2Gothic';
  font-weight: 300;
  src: url('../fonts/NEXON_Lv2_Gothic_Light.ttf');
}

@font-face {
  font-family: 'NexonLv2Gothic';
  font-weight: 500;
  src: url('../fonts/NEXON_Lv2_Gothic_Medium.ttf');
}

@font-face {
  font-family: 'NexonLv2Gothic';
  font-weight: normal;
  src: url('../fonts/NEXON_Lv2_Gothic.ttf');
}
